@import '../styles/config.scss';
@import '../styles/mixins.scss';

.header {
  background-color: map-get($colors, grey);
  height: map-get($spacing, spacing-72);
  display: flex;
  align-items: center;
  padding-left: map-get($spacing, spacing-24);

  &__logo {
    @extend %h1;

    color: map-get($colors, white);
  }
}
